.banner {
  height: 100vh;
  color: white;
  text-align: center;
  background-size: cover;
}

.flex-box {
  display: flex;
  align-items: center;
  justify-content: center;
}

.banner-content {
  margin: auto;
}

.btn {
  margin: 5px;
}

p {
  font-size: 24px;
  opacity: 0.6;
}

h1 {
  font-size: 60px;
  font-weight: bold;
}
